src/test/resources/Simplifier-test-4.07-2/expected-result.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <div>
    <define name="cardContent">
      <element name="name">
        <text/>
      </element>
      <element name="emailAddress">
        <text/>
      </element>
    </define>
    <start>
      <element name="addressBook">
	<zeroOrMore>
          <element name="card">
            <ref name="cardContent"/>
          </element>
	</zeroOrMore>
      </element>
    </start>
  </div>
</grammar>
