src/test/resources/example.rnc

grammar {
  start = a | b

  a = element a {
    attribute b1 {text}
    |
    ( (attribute c1 {text}
       | attribute c2 {text}
       | attribute c3 {text}
       | attribute c4 {text} ),
      b
    )
  }

  b = element b {
    attribute w {text},
    attribute x {text}?,
    element c { (text & anyElement)* },
    element d { text }?,
    element e { empty }+,
    element f { anyElement }*
  }
}
